version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - MYSQL_USER=mysqluser
      - MYSQL_DB=messaging_db
      - MYSQL_PASSWORD=mysqlpassword
    depends_on:
      - db
    command: python3 manage.py runserver 0.0.0.0:8000

  db:
    image: mysql:8.0
    environment:
      - MYSQL_USER=mysqluser
      - MYSQL_DB=messaging_db
      - MYSQL_PASSWORD=mysqlpassword
      - MYSQL_ROOT_PASSWORD=rootpassword
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  mysql_data:
